In [1]:
import numpy as np
import pandas as pd

In [2]:
data=pd.read_csv('FinalJobData.csv')

In [3]:
data.head()

,OpenSource_Yes,Gender_Female,Gender_Female;Male,"Gender_Female;Male;Non-binary, genderqueer, or gender non-conforming",Employment_Employed full-time,Employment_Employed part-time,"Employment_Independent contractor, freelancer, or self-employed","Employment_Not employed, but looking for work",FormalEducation_Associate degree,"FormalEducation_Bachelorâ€™s degree (BA, BS, B.Eng., etc.)",...,YearsCoding_15-17 years,YearsCoding_18-20 years,YearsCoding_21-23 years,YearsCoding_24-26 years,YearsCoding_27-29 years,YearsCoding_3-5 years,YearsCoding_30 or more years,YearsCoding_6-8 years,YearsCoding_9-11 years,Job
0,0,0,0,0,0,1,0,0,0,1,...,0,0,0,0,0,1,0,0,0,Full-stack developer
1,1,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,1,0,0,Database administrator
2,0,0,0,0,1,0,0,0,0,1,...,0,1,0,0,0,0,0,0,0,Full-stack developer
3,0,0,0,0,1,0,0,0,0,0,...,0,0,0,0,0,0,0,1,0,Data or business analyst
4,0,0,0,0,1,0,0,0,0,1,...,0,0,0,0,0,0,0,1,0,Back-end developer

In [4]:
x=data.drop('Job',axis='columns') 
y=data['Job']
x.head()
y.head()

0        Full-stack developer
1      Database administrator
2        Full-stack developer
3    Data or business analyst
4          Back-end developer
Name: Job, dtype: object

In [5]:

from sklearn import tree
model = tree.DecisionTreeClassifier(criterion='entropy')
from sklearn.model_selection import train_test_split
x_train,x_test,y_train, y_test=train_test_split(x,y,test_size=0.2)
model.fit(x_train,y_train)
model.score(x_test,y_test)
prediction = model.predict(x_test)
print(type(prediction))

<class 'numpy.ndarray'>

In [6]:
prediction = pd.DataFrame(prediction, columns=['predictions']).to_csv('prediction.csv')

In [7]:
import pickle

In [8]:
filename = 'finalized_model.sav'
pickle.dump(model, open(filename, 'wb'))

In [9]:
loaded_model = pickle.load(open(filename, 'rb'))
result = loaded_model.score(x_test, y_test)
print(result)

0.5954941590951233